<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "scss/style.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="icon" type="image/png" href="{{ `favicon.png` | absURL }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono">
  </head>
  <body>
    <ul>
        <li>
          <a href="/"> 
            <img src="{{ `logo.png` | absURL }}" alt="Home">
            <figcaption class="tab">home</figcaption>
          </a>
        </li>
        <li>
          <a href="/paintings"> 
            <img src="{{ `paint.png` | absURL }}" alt="Paintings">
            <figcaption class="tab">paintings</figcaption>
          </a>
        </li>
        <li>
          <a href="/prints"> 
            <img src="{{ `print.png` | absURL }}" alt="Prints">
            <figcaption class="tab">prints</figcaption>
          </a>
        </li>
        <li>
          <a href="/fiber-art"> 
            <img src="{{ `fiber.png` | absURL }}" alt="Fiber-Art">
            <figcaption class="tab">fiber art</figcaption>
          </a>
        </li>
        <li>
          <a href="/animations"> 
            <img src="{{ `animation.png` | absURL }}" alt="Animation">
            <figcaption class="tab">animations</figcaption>
          </a>
        </li>
        <li>
          <a href="/shop"> 
            <img src="{{ `shop.png` | absURL }}" alt="Shop">
            <figcaption class="tab">shop</figcaption>
          </a>
        </li>
    </ul>
    {{ block "page" . }}{{ end }}
  </body>
  <footer>
    <ul>
      <li>
        <a href="mailto:robinzeng1@gmail.com" target="_blank">
          <img src="{{ `email.png` | absURL }}" alt="email me">
          <figcaption class="tab">email</figcaption>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/robin.zen.art/" target="_blank">
          <img src="{{ `insta.png` | absURL }}" alt="find me on insta">
          <figcaption class="tab">insta</figcaption>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/@robinzenart" target="_blank">
          <img src="{{ `youtube.png` | absURL }}" alt="watch my vids">
          <figcaption class="tab">youtube</figcaption>
        </a>
      </li>
    </ul>
  </footer>
</html>