<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "scss/style.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="icon" type="image/png" href="{{ `favicon.png` | absURL }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono">
  </head>
  <body>
    <ul>
        <li><a href="/"> <img src="{{ `logo.png` | absURL }}" alt="Home" style="height:100px; padding:0px 50px 0px 50px;"></a></li>
        <li><a href="/paintings"> <img src="{{ `paint.png` | absURL }}" alt="Paintings"></a></li>
        <li><a href="/prints"> <img src="{{ `print.png` | absURL }}" alt="Prints"></a></li>
        <li><a href="/fiber-art"> <img src="{{ `fiber.png` | absURL }}" alt="Fiber-Art"></a></li>
        <li><a href="/animations"> <img src="{{ `animation.png` | absURL }}" alt="Animation"></a></li>
        <li><a href="/shop"> <img src="{{ `shop.png` | absURL }}" alt="Shop"></a></li>
    </ul>
    {{ block "page" . }}{{ end }}
  </body>
  <footer>
    <p>(c) Robin Zen 2026</p>
    <a href="mailto:robinzeng1@gmail.com" target="_blank"><img src="{{ `email.png` | absURL }}" alt="email me"></a>
  </footer>
</html>